@import url("https://fonts.googleapis.com/css?family=Roboto:700,900");
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.main-content{
  
  
}
/* Phone menu */
.menu-toggle{
  display: block;
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 2;
  -webkit-user-select: none;
}

.menu-toggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;}
.menu-toggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-toggle span:first-child{
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
.menu-toggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #eee7e7;
}
.menu-toggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
.nav-phone{
  display:none;
}
.menu{
  position: absolute;
  width: 110vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-image: linear-gradient(to right, #0a7f99 0%, #0a7f99 0%, #0a7f99 0%, #257e92 33%, #0697b8 66%, #0697b8 100%);
        box-shadow: 2px 2px 15px rgba(0,0,0,.2);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li{
  font-size: 1.4em;
  padding:5px 0;
  margin-left:10%;
}
.menu-line{
    width:2px;
    height:44%;
    background:#fff;
    position: absolute;
    top:152px;
    left:80px;
}

.menu-toggle input:checked ~ ul{
  transform: none;
}

.menu li div{
  text-decoration: none;
  color: #eee7e7;
  display:block;
  transition: color 0.3s ease;
  padding:20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor:pointer;
}
.menu li div:hover{
  color: rgb(72, 172, 172);
}

/* desktop menu */

.nav-desktop{
  margin-top:55px;
  margin-left:-40px;
  position: absolute;
  right:40px;
}
.nav-desktop ul{
  display:flex;
}
.nav-desktop ul li{
  margin-left:30px;
  list-style:none;
  display:block;
}
.nav-desktop ul li div{
  color:#fff;
  font-size:1.1em;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:400;
  cursor:pointer;
  display:block;
  transition: color 0.3s ease;
  padding:1px 12px 1px 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1.2px;
  position: relative;
}
.nav-desktop ul li div:hover{
  color:rgb(225, 239, 255);
}
@keyframes lineAnimation{
  0% {width:0px; padding:1px}
  100% {width:100%;}
}
.horizontal-line{
  box-sizing: border-box;
  width:100%;
  height:1px;
  background-color:#fff;
  margin-top:3px;
  display:none;
  position: absolute;
  animation: lineAnimation 500ms;
  background:rgb(225, 239, 255);
}
.waves-cnt{
 
  position: relative;
  float: right;
}
section{
  width: 600px;
  max-height: 100px;
  position: absolute;
}
.wave{
  float: right;
  margin-top: -212px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: -156px;
  left: -310px;
  width: 600px;
  height: 150px;
  background: url('./img/wave.png');
  background-size: 406px;
  background-repeat: no-repeat;
  opacity: .35;
}
.sound-mute-ico{
  position: absolute;
  top: 207px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
.music-btn-list {
  margin: 30px auto;
  text-align: center;
}
.music-btn-list li:first-child{
  margin-top:0;
}
.music-btn-list li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top:50px;
}

.music-btn-list{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;		
  text-decoration: none;		
  text-align: center;
  font-size: 25px;		
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;		
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0,0,0,.2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
  margin-top:20px;
}
button.round{
  padding-bottom: 50%;
}
button:focus { outline: none; }

.round:hover {
  width: 109%;
  height: 109%;
  left: -4px;
  top: -5px;
  font-size: 23px;
  padding-top: 38px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;

}

.round img{
  position:absolute;
  top:30px;
  left:30px;
}

.btn1 {
  background-color: rgb(224, 176, 16);
  color: rgb(41, 82, 41);
  border-color: rgba(133,32,28,.2);
}

.btn1:hover {
  color:rgb(255, 196, 0);

}

.btn2 {
  background-color: rgb(1, 171, 44);
  color: rgba(0,63,71,1);
  border-color: rgba(0,63,71,.2);
}

.btn2:hover {
  color: rgb(1, 171, 44);
}

.btn3 {
  background-color: rgba(1,151,171,1);
  color: rgba(0,63,71,1);
  border-color: rgba(0,63,71,.2);
}

.btn3:hover {
  color: rgba(1,151,171,1);
}

.round div.round {
  display: block;
  opacity: 0;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
  margin-top:0;
  margin-left:-1px;
}

.round div.round:hover {
  opacity: .85;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;	
}

.adult div {
  background: rgba(0,63,71,.7);		
}

.baby div {
  background: rgba(118, 126, 5, 0.7);		
}

.rain div {
  background: rgba(0, 70, 161, 0.7);	

}
/* clicked animation incorrect work*/
@keyframes clicked{
  0%{width:110%; height:110%}
  100%{width:111%; height:111%}
}
.clicked-btn{
  /* animation: clicked 150ms; */
  background:red;
}
/* checked classes */
.checked-btn-button{
  width: 109%;
  height: 109%;
  left: -4px;
  top: -5px;
  font-size: 23px;
  padding-top: 38px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;
  opacity: .4;
  color:rgba(66, 56, 56, 0.219)
}

/* end clicked animation */

/* category content */
.category-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.category-content h3{
  margin-top:30px;
  color:#fff;
  font-size: 1.5em;
  font-family: cursive;
  font-weight: lighter;
}
.content-buttons{
  margin-top:35px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.content-button{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.ctg-btn{
  width:200px;
  height:48px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 1.8em 0.6em / 0.6em 1em 3em 1em;
  border:2px solid #fff;
  cursor: pointer;
  transition:250ms;
  background-color:rgb(32, 134, 124);
}
.ctg-btn:hover{
  box-shadow: 2px 4px 8px rgb(3, 109, 109);
}
    
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
.ctg-btn .ctg-text{
  position: absolute;
  z-index: 1;
  color:rgb(255, 255, 255);
  left:50%;
  top:48%;
  transform: translate(-50%, -50%);
  font-size:1.3em;
  font-family: Montserrat;
  font-weight: 500;
}

/* Baby sleep cnt */

.babySleepCnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}
.babySleepText{
  font-size: 2.3em;
  padding-bottom: 20px;
  color: rgb(234, 239, 243);
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
}
.play-btn-section{
  position: relative;
  margin-top: 80px;
  margin-left: -10%;
}

/* moreSounds component */

.wrapperSounds {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.all-sounds-btn{
  width: 210px;
  height: 50px;
  background-color: #0E8174;
  border: 3px solid rgb(234, 241, 241);
  color: rgb(234, 241, 241);
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.7px;
  position: relative;
  padding-right: 40px;
  margin-bottom: 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: all ease 0.1s;
}

/* play-ico in button */

.circle {
  stroke: #0E8174;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
}
.internal-sounds-playIcoBtn{
  position: relative;
  margin-right: -2px;
}
.sounds-playIcoBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  display: inline-block;
  transition: all 0.5s ease;
  background-color: #fff;
}
.sounds-playIcoBtn .triangle {
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  transform: translateY(0);
  
}
.all-sounds-btn:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: rgb(14, 77, 92);
  animation: nudge 0.7s ease-in-out;
}
.all-sounds-btn:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}

/* btn animation if you click  (!!! sometimes is crashed !!!)*/
.all-sounds-btn:before {
  content: '';
  background-color: aliceblue;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.001, 0.001);
  opacity: .1;
}
.all-sounds-btn:focus:before{
  animation: effect_dylan 0.7s ease-out;
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}
/* end of btn animation */


@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* baby sleep btn */


.normal-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.smile-rating-container {
  position: relative;
  height: 10%;
  min-width: 220px;
  max-width: 520px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  top: 20%;
}

.submit-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-label {
  position: relative;
  font-size: 1.6em;
  text-align: center;
  flex: 0.34;
  z-index: 3;
  font-weight: bold;
  cursor: pointer;
  color: #d0cccd;
  transition: 500ms;
}

.rating-label:hover, .rating-label:active {
  color: #d0cccd;
}

.rating-label-fun {
  left: -58px;
  text-align: right;
}

.rating-label-meh {
  left: 58px;
  text-align: left;
  color: #222;
}

.smile-rating-container input {
  display: none;
}

.toggle-rating-pill {
  position: relative;
  height: 65px;
  width: 165px;
  background: #d0cccd;
  border-radius: 500px;
  transition: all 500ms;
}

.smile-rating-toggle {
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: white;
  left: 182px;
  border-radius: 500px;
  transition: all 500ms;
  z-index: 4;
}

.rating-eye {
  position: absolute;
  height: 12px;
  width: 8px;
  top: 22px;
  background: #d0cccd;
  border-radius: 500px;
  z-index: 5;
  transition: all 440ms;
  animation: blink-eye 3s infinite;
}

@keyframes blink-eye {
  0% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  20% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  40% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  60% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  80% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  90% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  95% {
    height: 2px;
    width: 8px;
    top: 30px;
  }
  100% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
}
.rating-eye-left {
  left: 192px;
}

.rating-eye-right {
  left: 216px;
}

.mouth {
  position: absolute;
  width: 28px;
  height: 20px;
  z-index: 6;
  border: 4px solid #d0cccd;
  border-radius: 10%;
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 42px;
  left: 190px;
  transition: all 500ms;
}

/*
Toggle Changes
*/
#meh:checked ~ .rating-label-meh {
  color: #555e63;
}

#fun:checked ~ .rating-label-meh {
  color: #d0cccd;
}

#fun:checked ~ .mouth {
  border: 4px solid rgb(23, 133, 158);
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 23px;
  left: 291px;
  transform: rotateX(180deg);
  border-radius: 100%;
}

#fun:checked ~ .rating-label-fun {
  color: #555e63;
}

#fun:checked ~ .smile-rating-toggle {
  left: 282px;
}

#fun:checked ~ .rating-eye-left {
  left: 292px;
}

#fun:checked ~ .rating-eye-right {
  left: 316px;
}

#fun:checked ~ .toggle-rating-pill {
  background-color: rgb(23, 133, 158);
}

#fun:checked ~ .rating-eye {
  background-color: rgb(23, 133, 158);
}

@media only screen and (max-width: 624px) {
  .normal-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .smile-rating-container {
    position: relative;
    height: 10%;
    width: 490px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    top: 20%;
  }

  .submit-rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rating-label {
    position: relative;
    font-size: 1.6em;
    text-align: center;
    flex: 0.34;
    z-index: 3;
    font-weight: bold;
    cursor: pointer;
    color: #d0cccd;
    transition: 500ms;
  }

  .rating-label:hover, .rating-label:active {
    color: #d0cccd;
  }

  .rating-label-fun {
    left: -58px;
    text-align: right;
  }

  .rating-label-meh {
    left: 50px;
    text-align: left;
    color: #222;
  }

  .smile-rating-container input {
    display: none;
  }

  .toggle-rating-pill {
    position: relative;
    height: 65px;
    width: 165px;
    background: #a6e9d5;
    border-radius: 500px;
    transition: all 500ms;
  }

  .smile-rating-toggle {
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: white;
    left: 168px;
    border-radius: 500px;
    transition: all 500ms;
    z-index: 4;
  }

  .rating-eye {
    position: absolute;
    height: 12px;
    width: 8px;
    background: #a6e9d5;
    border-radius: 500px;
    top: 22px;
    z-index: 5;
    transition: all 440ms;
  }

  .rating-eye-left {
    left: 180px;
  }

  .rating-eye-right {
    left: 201px;
  }

  .mouth {
    position: absolute;
    width: 28px;
    height: 20px;
    z-index: 6;
    border: 4px solid #a6e9d5;
    border-radius: 10%;
    border-bottom-color: rgba(1, 1, 1, 0);
    border-right-color: rgba(1, 1, 1, 0);
    border-left-color: rgba(1, 1, 1, 0);
    top: 42px;
    left: 177px;
    transition: all 500ms;
  }

  /*
  Toggle Changes
  */
  #meh:checked ~ .rating-label-meh {
    color: #555e63;
  }

  #fun:checked ~ .rating-label-meh {
    color: #d0cccd;
  }

  #fun:checked ~ .mouth {
    border: 4px solid rgb(23, 133, 158);
    border-bottom-color: rgba(1, 1, 1, 0);
    border-right-color: rgba(1, 1, 1, 0);
    border-left-color: rgba(1, 1, 1, 0);
    top: 23px;
    left: 275px;
    transform: rotateX(180deg);
    border-radius: 100%;
  }

  #fun:checked ~ .rating-label-fun {
    color: #555e63;
  }

  #fun:checked ~ .smile-rating-toggle {
    left: 266px;
  }

  #fun:checked ~ .rating-eye-left {
    left: 275px;
  }

  #fun:checked ~ .rating-eye-right {
    left: 300px;
  }

  #fun:checked ~ .toggle-rating-pill {
    background-color: rgb(23, 133, 158);
  }

  #fun:checked ~ .rating-eye {
    background-color: rgb(23, 133, 158);
  }
}
@media (min-width:400px){
  .play-btn-section{
    margin-left: 0;
  }
}
@media (min-width:600px){
  .music-btn-list{
    margin-top:50px;
    display: block;
  }
  .music-btn-list li{
    margin-left: 50px;
  }
  .music-btn-list li:first-child{
    margin-left:0;
  }
} 
@media screen and (max-width:600px){
  .sound-mute-ico{
    width: 35px;
    height: 35px;
    top: 210px;
  }
  .nav-phone{
      display:inline;
  }
  .nav-desktop{
      display:none;
  }
} 
@media screen and (min-width:600px){
  .menu-line{
      left:100px;
  }
}
@media screen and (min-width:1000px){
  .nav-desktop{
    right:100px;
  }
  .sound-mute-ico{
    position: absolute;
    top: 207px;
    left: 195px;
  }
}
