* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
/* Phone menu */
.menu-toggle{
  display: block;
  position: relative;
  top:-154px;
  left: 30px;
  z-index: 2;
  -webkit-user-select: none;
}

.menu-toggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;}
.menu-toggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menu-toggle span:first-child{
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
.menu-toggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #eee7e7;
}
.menu-toggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menu-toggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
.nav-phone{
  display:none;
}
.menu{
  position: absolute;
  width: 110vw;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background:rgb(11, 27, 58);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li{
  font-size: 1.4em;
  padding:5px 0;
  margin-left:10%;
}
.menu-line{
    width:2px;
    height:44%;
    background:#fff;
    position: absolute;
    top:152px;
    left:80px;
}

.menu-toggle input:checked ~ ul{
  transform: none;
}

.menu li div{
  text-decoration: none;
  color: #eee7e7;
  display:block;
  transition: color 0.3s ease;
  padding:20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor:pointer;
}
.menu li div:hover{
  color: rgb(6, 138, 138);
}

/* desktop menu */

.nav-desktop{
  margin-top:55px;
  margin-left:-40px;
  position: absolute;
  right:40px;
}
.nav-desktop ul{
  display:flex;
}
.nav-desktop ul li{
  margin-left:30px;
  list-style:none;
  display:block;
}
.nav-desktop ul li div{
  color:#fff;
  font-size:1.1em;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:400;
  cursor:pointer;
  display:block;
  transition: color 0.3s ease;
  padding:1px 12px 1px 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1.2px;
  position: relative;
}
.nav-desktop ul li div:hover{
  color:rgb(225, 239, 255);
}
@keyframes lineAnimation{
  0% {width:0px; padding:1px}
  100% {width:100%;}
}
.horizontal-line{
  box-sizing: border-box;
  width:100%;
  height:1px;
  background-color:#fff;
  margin-top:3px;
  display:none;
  position: absolute;
  animation: lineAnimation 500ms;
  background:rgb(225, 239, 255);
}

/* main content */

.music-btn-list {
  margin: 30px auto;
  text-align: center;
}
.music-btn-list li:first-child{
  margin-top:0;
}
.music-btn-list li {
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top:50px;
}

.music-btn-list{
  display:flex;
  flex-direction: column;
  align-items:center;
}
.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;		
  text-decoration: none;		
  text-align: center;
  font-size: 25px;		
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  letter-spacing: -.065em;
  font-family: "Hammersmith One", sans-serif;		
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0,0,0,.2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
  margin-top:20px;
}
button.round{
  padding-bottom: 50%;
}
button:focus { outline: none; }

.round:hover {
  width: 109%;
  height: 109%;
  left: -4px;
  top: -5px;
  font-size: 23px;
  padding-top: 38px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;

}

.round img{
  position:absolute;
  top:30px;
  left:30px;
}

.baby {
  background-color: rgb(224, 176, 16);
  color: rgb(41, 82, 41);
  border-color: rgba(133,32,28,.2);
}

.baby:hover {
  color:rgb(255, 196, 0);

}

.adult {
  background-color: rgb(1, 171, 44);
  color: rgba(0,63,71,1);
  border-color: rgba(0,63,71,.2);
}

.adult:hover {
  color: rgb(1, 171, 44);
}

.rain {
  background-color: rgba(1,151,171,1);
  color: rgba(0,63,71,1);
  border-color: rgba(0,63,71,.2);
}

.rain:hover {
  color: rgba(1,151,171,1);
}

.round div.round {
  display: block;
  opacity: 0;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  padding: 40% 20% 0 20%;
  color: #fff;
  margin-top:0;
  margin-left:-1px;
}

.round div.round:hover {
  opacity: .85;
  font-size: 16px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;	
}

.adult div {
  background: rgba(0,63,71,.7);		
}

.baby div {
  background: rgba(118, 126, 5, 0.7);		
}

.rain div {
  background: rgba(0, 70, 161, 0.7);	

}
/* clicked animation incorrect work*/
@keyframes clicked{
  0%{width:110%; height:110%}
  100%{width:111%; height:111%}
}
.clicked-btn{
  /* animation: clicked 150ms; */
  background:red;
}
/* checked classes */
.checked-btn-button{
  width: 109%;
  height: 109%;
  left: -4px;
  top: -5px;
  font-size: 23px;
  padding-top: 38px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;
  opacity: .4;
  color:rgba(66, 56, 56, 0.219)
}

/* end clicked animation */

@media (min-width:600px){
  .music-btn-list{
    margin-top:50px;
    display: block;
  }
  .music-btn-list li{
    margin-left: 50px;
  }
  .music-btn-list li:first-child{
    margin-left:0;
  }
} 
@media screen and (max-width:600px){
  .nav-phone{
      display:inline;
  }
  .nav-desktop{
      display:none;
  }
} 
@media screen and (min-width:600px){
  .menu-line{
      left:100px;
  }
}
@media screen and (min-width:1000px){
  .nav-desktop{
    right:100px;
  }
}